<%- include('partials/header') %>

    <main class="animate__animated animate__fadeIn">
        <section class="container">
            <div class="col-12 my-3 d-flex flex-column justify-content-center align-items-center" style="min-height:70vh">
                <h1 class="display-1 text-secondary">Erreur 404</h1>
                <p class="lead">Désolé, la page que vous cherchez n'existe pas.</p>
            </div>
        </section>
    </main>

<%- include('partials/footer') %>