<%- include('partials/header') %>

    <main class="animate__animated animate__fadeIn">
        <section class="container pb-4">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1 class="text-secondary h-line"><img src="/img/grain.png" alt="Grain de café"> Mentions légales</h1>

                    <div class="alert alert-danger border-0"><i class="bi bi-exclamation-triangle-fill"></i> Ce site est un projet fictif réalisé dans un cadre étudiant.</div>

                    <h2 class="h4 text-secondary">1. Éditeur du Site</h2>
                    <p class="text-secondary">
                        Guillaume Salsedo<br>
                        <button class="nav-link link-primary" data-bs-toggle="modal" data-bs-target="#contactModal"><i class="bi bi-envelope"></i> Contact</button>
                    </p>

                    <h2 class="h4 text-secondary">2. Hébergement</h2>
                    <p class="text-secondary">
                        Le site est hébergé par :<br>
                        <span class="fw-bold">Render.com</span><br>
                        Adresse : 548 Market St, PMB 92521, San Francisco, CA 94104-5401, USA<br>
                        Site web : <a href="https://render.com" target="_blank">https://render.com</a><br>
                    </p>

                    <h2 class="h4 text-secondary">3. Responsabilité</h2>
                    <p class="text-secondary">
                        Ce site est un projet fictif réalisé dans un cadre étudiant. Les informations présentes sont imaginaires 
                        et n’ont aucune valeur légale, commerciale ou contractuelle. L’auteur ne peut être tenu responsable d’éventuelles erreurs 
                        ou omissions, ni de l’utilisation des contenus figurant sur ce site.
                    </p>

                    <h2 class="h4 text-secondary">4. Données personnelles</h2>
                    <p class="text-secondary">
                        Ce site ne collecte ni ne traite aucune donnée personnelle.<br>
                    </p>                    
                </div>
            </div>            
        </section>
    </main>

<%- include('partials/footer') %>